@import "src/styles";

.main-wrapper {
    background-color: #fafafa;
    margin: 0 auto;
    max-width: 1000px;

    .block-container {
        .block {
            background-color: #f1f1f1;
            display: inline-block;
            margin: 10px;
            height: 100px;
            position: relative;
            width: 200px;
            
            .icon {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
}