

<div class="main-wrapper">
    this is app comp

        <a routerLink="/dashboard">Dashboard</a>

        <br>
        <a routerLink="/">Home</a>
        <br>
        <br>
        <br>
        <br>

        <div class="block-container">
            <div class="block">1

                <span class="icon">X</span>
            </div>
            <div class="block">2

                <span class="icon">X</span>
            </div>
        </div>

    <button class="btn btn-primary" (click)="updateMe('red')">Red bg color</button>
    <br>

    <br>
    <br>
    <button class="btn btn-secondary" (click)="updateMe('red')">blue bg color</button>

    <br>
</div>


<router-outlet></router-outlet>