<!-- <p>dashboard works!</p>

<button (click)="updateMe('red')">Make me Red bg color</button>
<br>
<button (click)="updateMe('blue')">Make me Blue bg color</button>
<br>
<button (click)="updateMe('orange')">Make me Orange bg color</button> -->


<ul>
    <li *ngFor="let user of userList; let idx = index">
        {{ user.id }} - {{ user.name }}
    </li>
</ul>