/* You can add global styles to this file, and also import other style files */
@import "src/theme_variable";

.btn {
    background-color: #f0f0f0;
    border: 1px solid $grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 10px;

    &:hover {
        background-color: #aaa;
    }
}

    
.btn-primary {
    background-color: $primary;
    border-color: $primary-hover;
    color: $white;
    &:hover {
        background-color: $primary-hover;
    }
}

.btn-secondary {
    background-color: $secondary;
    border-color: $secondary-hover;
    color: $white;
    &:hover {
        background-color: $secondary-hover;
    }
}